# Auth.js
AUTH_SECRET=placeholder_change_me
AUTH_GOOGLE_ID=placeholder_change_me
AUTH_GOOGLE_SECRET=placeholder_change_me

# Supabase
NEXT_PUBLIC_SUPABASE_URL=placeholder_change_me
NEXT_PUBLIC_SUPABASE_ANON_KEY=placeholder_change_me
SUPABASE_SERVICE_ROLE_KEY=placeholder_change_me
